<script lang="ts">
  import { images } from "$lib/ImageStore";
  import type { ImageData } from "$lib/ImageStore";
  let name = "";
  let file: File | null = null;
  let imageURL: string = "";

  function handleFileChange(event: Event) {
    const input = event.target as HTMLInputElement;
    if (input.files && input.files[0]) {
      file = input.files[0];
      imageURL = URL.createObjectURL(file);
    }
  }

  function uploadImage() {
    if (file) {
      const imageData: ImageData = {
        name,
        type: file.type,
        size: file.size,
        imageURL,
      };
      images.update((currentImages) => [...currentImages, imageData]);
      name = "";
      file = null;
      imageURL = "";
    }
  }
</script>

<form on:submit|preventDefault={uploadImage}>
  <label for="name">Image Name:</label>
  <input id="name" type="text" bind:value={name} required />

  <label for="file">Select Image:</label>
  <input
    id="file"
    type="file"
    accept="image/*"
    on:change={handleFileChange}
    required
  />

  {#if imageURL}
    <img src={imageURL} alt="Preview" />
  {/if}

  <button type="submit" disabled={!file || !name}>Upload</button>
</form>

<style lang="scss">
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-secondary);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    width: clamp(300px, 100%, 500px);
    margin: 2rem auto;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input[type="text"],
  input[type="file"] {
    padding: 0.5rem;
    border: 2px solid var(--background-quaternary);
    border-radius: 4px;
    font-family: "IBM Plex Sans", sans-serif;
  }

  img {
    max-width: 100%;
    margin-top: 1rem;
    border: 1px solid var(--background-quaternary);
    border-radius: 4px;
  }
</style>
