<script lang="ts">
  import NavBar from "$lib/components/NavBar.svelte";
</script>

<div id="container">
  <NavBar />

  <main>
    <slot />
  </main>
</div>

<style lang="scss">
  :root {
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(13, 20%, 96%);
    --background-tertiary: hsl(0, 0%, 11%);
    --background-quaternary: hsl(0, 0%, 40%);
    --text-primary: hsl(0, 0%, 0%);
    --text-secondary: hsl(0, 0%, 100%);

    --accent-primary: hsl(256, 34%, 48%);
    --accent-secondary: hsl(342, 25%, 61%);
    --accent-tertiary: hsl(123, 50%, 45%);
    --accent-error: hsl(0, 65%, 46%);
    --accent-text: hsl(0, 0%, 100%);

    --box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05),
      0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05);
  }

  /* general tags */
  :global(body, html) {
    margin: 0 auto;
    padding: 0 auto;
    background-color: var(--background-primary);
    color: var(--text-primary);
  }

  /* links */
  :global(a:any-link) {
    text-decoration: none;
  }

  /* align svg with text */
  :global(svg) {
    vertical-align: text-bottom;
  }

  /* container */
  #container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* sets the global font family */
  :global(*) {
    font-family: "IBM Plex Sans", sans-serif;
  }

  /* content */
  main {
    align-self: center;
    margin: 4rem 0;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    line-height: 1.8;
    flex: 1;
    width: min(800px + 30%, 98%);

    :global(h1:first-of-type) {
      font-size: clamp(2.4rem, 3vw, 3rem);

      text-align: center;
      margin-bottom: 2rem;
      margin-top: 0;
    }
  }
</style>
