<script lang="ts">
  import { images } from "$lib/ImageStore";
</script>

<div class="grid">
  {#each $images as { name, type, size, imageURL }}
    <div class="image-card">
      <img src={imageURL} alt={name} />
      <div class="image-info">
        <strong>{name}</strong>
        <p>Type: {type}</p>
        <p>Size: {Math.round(size / 1024)} KB</p>
      </div>
    </div>
  {/each}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .image-card {
    border: 1px solid var(--background-secondary);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }

  .image-info {
    padding: 0.5rem;
    background-color: var(--background-secondary);
    color: var(--text-primary);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
