<script>
  import { page } from "$app/stores";

  const navItems = [
    { label: "UPLOAD", href: "/upload" },
    { label: "DATAGRID", href: "/" },
  ];
</script>

<header>
  <a href="/">Datagrid project</a>
  <span />

  <!-- looping throug the navItems object, and putting them all in the navbar -->
  {#each navItems as navItem}
    {#if $page.url.pathname == navItem.href}
      <a id="selected" href={navItem.href}>{navItem.label}</a>
    {:else}
      <a href={navItem.href}>{navItem.label}</a>
    {/if}
  {/each}
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    display: flex;
    height: 3.5rem;
    background-color: var(--background-secondary);
    align-items: center;
    gap: 1rem;
    padding-inline: max(3% + 0.5rem, 1rem);
    box-shadow: var(--box-shadow);

    * {
      font-weight: bold;
      color: var(--text-primary);
    }
  }

  span ~ a {
    text-decoration: none;
    transition: all 0.1s ease;
    font-size: 1.1rem;

    &:hover,
    &#selected {
      border-bottom: 2px solid;
    }
  }

  span {
    flex-grow: 1;
  }
</style>
